.hero {
  position: relative;

  display: grid;
  flex-direction: column;

  padding: 75px 70px 50px;

  background: #073042;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    "hero__info hero__main-pic"
    "hero__link hero__main-pic";
}

.hero__info {
  grid-area: hero__info;

  margin-right: 20px;
}

.hero__title {
  width: 100%;
  max-width: 640px;
  margin: 0;
  padding: 0;

  text-align: left;

  color: #fff;

  font-size: 50px;
  font-weight: normal;

  font-style: normal;
  line-height: 58px;
}

.hero__description {
  width: 100%;
  max-width: 310px;
  margin: 36px 0 0;

  text-align: left;

  opacity: 0.5;

  color: #fff;

  font-size: 13px;
  font-weight: normal;

  font-style: normal;
  line-height: 16px;

  mix-blend-mode: normal;
}

.hero__link {
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  max-width: max-content;
  margin: 146px 0 25px;
  padding: 9px 19px;

  text-decoration: none;

  color: #fff;

  border: 1px rgba(255, 255, 255, 0.6) solid;
  border-radius: 3px;

  font-size: 12px;
  font-weight: 500;

  font-style: normal;
  line-height: 16px;
  grid-area: hero__link;
}

.hero__link:hover {
  transition: opacity 0.2s linear;

  opacity: 0.6;
}

.hero__main-pic {
  width: 100%;
  max-width: 310px;
  height: auto;
  grid-area: hero__main-pic;
  object-fit: contain;
  object-position: right bottom;
}

.hero__together {
  white-space: nowrap;
}

@media (max-width: 768px) {
  .hero {
    grid-template-areas:
      "hero__main-pic"
      "hero__info"
      "hero__link";

    padding: 140px 44px 66px;
    justify-items: center;
    grid-template-columns: none;
  }

  .hero__together {
    white-space: normal;
  }

  .hero__info {
    margin-right: 0;
  }

  .hero__title {
    max-width: 100%;
    margin: 48px 0 0;

    text-align: center;

    font-size: 40px;
    line-height: 50px;
  }

  .hero__description {
    max-width: 260px;
    margin: 22px auto 0;

    text-align: center;

    font-size: 13px;
    line-height: 16px;
  }

  .hero__link {
    margin-top: 92px;
    margin-bottom: 10px;

    font-size: 12px;
    line-height: 16px;
  }
}

@media (max-width: 320px) {
  .hero {
    padding: 70px 10px 30px;
  }

  .hero__main-pic {
    max-width: 210px;
  }

  .hero__title {
    margin-top: 44px;

    letter-spacing: -0.04em;

    font-size: 30px;
    line-height: 38px;
  }

  .hero__description {
    margin-top: 24px;

    opacity: 0.5;
    color: #fff;

    font-size: 13px;
    line-height: 16px;
  }

  .hero__link {
    margin: 80px 0 0;
  }
}
