.button-more {
    display:flex;
    padding: 50px 0 80px 0;
    align-items: center;
    justify-content: center;
  }
  
  .button-more__button {
    align-items: center;
  
    width: 320px;
    margin: 0;
    padding: 10px;
    font-family: Inter, Arial, Helvetica, sans-serif;
    cursor: pointer;
    text-align: center;
    background-color:#FFFFFF;
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    outline: 0;
    
  
    font-size: 12px;
  
    font-weight: 500;
    line-height: 15px;
  }
  
  .button-more__button:hover {
    transition: opacity 0.2s linear;
  
    opacity: 0.6;
  }
  
  @media (max-width: 768px) {
    .button-more {
      padding-right: 30px;
      padding-left: 30px;
    }
  }
  
  @media (max-width: 320px) {
    .button-more {
      padding: 61px 10px 89px;
      width: 240px;
      margin: auto;
    }
  }
  